* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  font-size: calc(1vh + 1vw);
  background-color: whitesmoke;
  overflow-x: hidden;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.container {
  width: 80%;
  margin: 0 auto;
  overflow-x: hidden;
}
.observer-target {
  width: 2px;
  height: 1px;
}
